{% extends "common/template.html" %}
{% load i18n %}
{% load fullurl %}

{% block title %}{% if current_category.page_title %}{{ current_category.page_title }}{% else %}{{ current_category.name }} | {{ request.app_name }}{% endif %}{% endblock %}

{% block meta_description %}{{ current_category.page_description }}{% endblock %}

{% block meta_keywords %}{{ current_category.page_keywords }}{% endblock %}

{% block meta_robots %}{% if request.path == current_category.url and not current_category.no_index and not current_category.deleted %}index, follow{% else %}noindex, nofollow, nosnippet{% endif %}{% endblock %}

{% if request.path != current_category.url %}
    {% block canonical %}
    <link rel="canonical" href="{% buildfullurl current_category.url %}" />
    {% endblock %}
{% endif %}

{% block content %}

<div class="row">
    {% if categories %}
    <div class="col-12 bg-light rounded p-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% for b_name, b_url in breadcrumb.items %}
                <li class="breadcrumb-item {% if forloop.last %}active{% endif %}" {% if forloop.last %}aria-current="page"{% endif %}>
                    {% if forloop.last %}
                    {{ b_name }}
                    {% else %}
                    <a href="{{ b_url }}">{{ b_name }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </nav>
    </div>
    {% else %}
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    {% translate "catalog" %}
                </li>
            </ol>
        </nav>
    </div>
    {% endif %}
    <div class="col-12">
        <hr/>
    </div>

    {% if request.user_agent.is_mobile %}
    <div class="col-12">
        {% include "common/catalog/product-list.html" with category=current_category %}
    </div>
    {% else %}
    <div class="col-sm-12 col-md-3">
        {% include "normal/catalog/catalog-left-menu.html" %}
    </div>

    <div class="col-sm-12 col-md-9">
        {% include "common/catalog/product-list.html" with category=current_category %}
    </div>
    {% endif %}
</div>

{% include "./quick-order.html" %}
{% include "./add-to-cart.html" %}

{% endblock %}