{% extends "common/template.html" %}
{% load i18n %}

{% block title %}{% if current_category.page_title %}{{ current_category.page_title }}{% else %}{{ current_category.name }} | {{ request.app_name }}{% endif %}{% endblock %}

{% block meta_description %}{{ current_category.page_description }}{% endblock %}

{% block meta_keywords %}{{ current_category.page_keywords }}{% endblock %}

{% block content %}

<div class="row">
    {% if categories %}
    <div class="col-12 bg-light rounded p-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'core:index' %}">{% translate "home" %}</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'core:catalog' %}">{% translate "catalog" %}</a>
                </li>
                {% for category in categories %}
                <li class="breadcrumb-item {% if forloop.last %} active {% endif %}"
                    {% if forloop.last %} aria-current="page" {% endif %}>
                    {% if forloop.last %}
                        {{ category.name }}
                    {% else %}
                    <a href="{% url 'core:category' category.id %}">
                        {{ category.name }}
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        </nav>
    </div>
    {% else %}
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    {% translate "catalog" %}
                </li>
            </ol>
        </nav>
    </div>
    {% endif %}
    <div class="col-12">
        <hr/>
    </div>

    {% if request.user_agent.is_mobile %}
    <div class="col-12">
        {% include "common/catalog/product-list.html" %}
    </div>
    {% else %}
    <div class="col-3">
        {% include "normal/catalog/catalog-left-menu.html" %}
    </div>

    <div class="col-9">
        {% include "common/catalog/product-list.html" %}
    </div>
    {% endif %}
</div>

{% include "./quick-order.html" %}

{% endblock %}