{% load i18n %}
<ul class="list-unstyled bg-light rounded ps-3 pt-2 pb-2 pe-3">
    {% if request.category_decorations %}
    <li class="mb-1">
        <div class="btn-toggle-wrapper p-1 rounded {% if parent_category.id == request.category_decorations.id %}active{% endif %}">
            <span class="btn btn-toggle align-items-center p-0 {% if parent_category.id != request.category_decorations.id %}collapsed{% else %}active{% endif %}"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapsedMenu_{{ request.category_decorations.id }}"
                    aria-expanded="{% if parent_category.id == request.category_decorations.id %}true{% endif %}">
            </span>
            <a aria-current="page" href="{% url 'core:category' request.category_decorations.id %}">
                {{ request.category_decorations.name }}
            </a>
        </div>
        <div class="collapse {% if parent_category.id == request.category_decorations.id %}show{% endif %}"
             id="collapsedMenu_{{ request.category_decorations.id }}">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                {% for decoration in request.decorations %}
                    {% with ""|add:decoration.parent.id|add:"/"|add:decoration.id as url %}
                    <li>
                        <a href="{% url 'core:category' url %}" class="link-dark rounded {% if decoration.id == current_category.id %}active{% endif %}">
                            {% translate decoration.name %}
                        </a>
                    </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endif %}

    {% if request.category_souvenirs %}
    <div class="btn-toggle-wrapper p-1 rounded {% if parent_category.id == request.category_souvenirs.id %}active{% endif %}">
        <span class="btn btn-toggle-static align-items-center p-0 {% if parent_category.id != request.category_souvenirs.id %}collapsed{% else %}active{% endif %}">
        </span>
        <a aria-current="page" href="{% url 'core:category' request.category_souvenirs.id %}">
            {{ request.category_souvenirs.name }}
        </a>
    </div>
    {% endif %}

    {% if request.category_base %}
    <li class="mb-1">
        <div class="btn-toggle-wrapper p-1 rounded {% if parent_category.id == request.category_base.id %}active{% endif %}">
            <span class="btn btn-toggle align-items-center p-0 {% if parent_category.id != request.category_base.id %}collapsed{% else %}active{% endif %}"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapsedMenu_{{ request.category_base.id }}"
                    aria-expanded="{% if parent_category.id == request.category_base.id %}true{% endif %}">
            </span>
            <a aria-current="page" href="{% url 'core:category' request.category_base.id %}">
                {{ request.category_base.name }}
            </a>
        </div>
        <div class="collapse {% if parent_category.id == request.category_base.id %}show{% endif %}"
             id="collapsedMenu_{{ request.category_base.id }}">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                {% for base in request.bases %}
                    {% with ""|add:base.parent.id|add:"/"|add:base.id as url %}
                    <li>
                        <a href="{% url 'core:category' url %}" class="link-dark rounded {% if base.id == current_category.id %}active{% endif %}">
                            {% translate base.name %}
                        </a>
                    </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endif %}
</ul>