{% load i18n %}
<div class="form-row d-flex justify-content-end">
    <div class="col-12">
        <div class="row">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <span class="nav-link {% if parent_category.id == request.category_decorations.id %} active {% endif %}">
                        <span class="fa fa-xs {% if parent_category.id == request.category_decorations.id %}fa-angle-double-down{% else %}fa-angle-double-right {% endif %}""
                              id="collapsedMenuIcon_{{ request.category_decorations.id }}"
                              data-bs-toggle="collapse"
                              data-bs-target="#collapsedMenu_{{ request.category_decorations.id }}"
                              aria-expanded="{% if parent_category.id == request.category_decorations.id %}true{% else %}false{% endif %}"
                              aria-controls="#collapsedMenu_{{ request.category_decorations.id }}">
                        </span>
                        <a class="ms-2" aria-current="page" href="{% url 'core:category' request.category_decorations.id %}">
                            {{ request.category_decorations.name }}
                        </a>
                    </span>
                    <ul class="nav flex-column ms-5 collapse {% if parent_category.id == request.category_decorations.id  %}show{% endif %}"
                        id="collapsedMenu_{{ request.category_decorations.id }}">
                        {% for decoration in request.decorations %}
                        <li class="nav-item">
                            {% with ""|add:decoration.parent.id|add:"/"|add:decoration.id as url %}
                            <a class="nav-link {% if current_category.id == decoration.id  %} active {% endif %}"
                               href="{% url 'core:category' url %}">
                                {% translate decoration.name %}
                            </a>
                            {% endwith %}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <span class="nav-link {% if parent_category.id == request.category_souvenirs.id %} active {% endif %}">
                        <span class="fa fa-circle fa-xs"></span>
                        <a class="ms-2" href="{% url 'core:category' request.category_souvenirs.id %}">
                            {% translate request.category_souvenirs.name %}
                        </a>
                    </span>
                </li>
                <li class="nav-item">
                    <span class="nav-link {% if parent_category.id == request.category_base.id %} active {% endif %}">
                         <span class="fa fa-xs {% if parent_category.id == request.category_base.id  %}fa-angle-double-down{% else %}fa-angle-double-right{% endif %}"
                               id="collapsedMenuIcon_{{ request.category_base.id }}"
                               data-bs-toggle="collapse"
                               data-bs-target="#collapsedMenu_{{ request.category_base.id }}"
                               aria-expanded="{% if parent_category.id == request.category_base.id  %}true{% else %}false{% endif %}"
                               aria-controls="#collapsedMenu_{{ request.category_base.id }}">
                         </span>
                         <a class="ms-2" aria-current="page" href="{% url 'core:category' request.category_base.id %}">
                            {{ request.category_base.name }}
                         </a>
                    </span>
                    <ul class="nav flex-column ms-5 collapse {% if parent_category.id == request.category_base.id  %}show{% endif %}"
                        id="collapsedMenu_{{ request.category_base.id }}">
                        {% for base in request.bases %}
                        <li class="nav-item">
                            {% with ""|add:base.parent.id|add:"/"|add:base.id as url %}
                            <a class="nav-link {% if current_category.id == base.id  %} active {% endif %}"
                               href="{% url 'core:category' url %}">
                                {% translate base.name %}
                            </a>
                            {% endwith %}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>