{% extends "layout/template.html" %}
{% load i18n %}

{% block title %} Каталог изделий | CuprumBerry {% endblock %}

{% block content %}

<div class="row">
  <div class="col-12">
    <h1>Каталог авторских украшений</h1>
  </div>
  <div class="col-12">
    <hr/>
  </div>
  <div class="col-12">
    <div class="form-row d-flex justify-content-end">
      <div class="col-6 col-sm-4 col-md-3">
        <div class="input-group d-flex justify-content-end">
          <div class="form-check form-check-inline list-display-type">
            <label class="btn {% if request.session.display == 'tiles' %} btn-secondary {% endif %}"
                   for="displayTiles">
              <input form="filtersForm"
                  id="displayTiles"
                  type="radio"
                  name="display"
                  value="tiles"
                  class="form-check-input"
                  onchange="onDisplayChanged();doFilter()"
                  checked="{% if request.session.display == 'tiles' %} checked {% endif %}">
              <span class="fa fa-table"></span>
            </label>
        </div>
        <div class="form-check form-check-inline list-display-type">
            <label class="btn {% if request.session.display == 'list' %} btn-secondary {% endif %}"
                   for="displayList">
              <input form="filtersForm"
                  id="displayList"
                  type="radio"
                  name="display"
                  value="list"
                  class="form-check-input"
                  onchange="onDisplayChanged();doFilter()"
                  checked="{% if request.session.display == 'list' %} checked {% endif %}">
              <span class="fa fa-list"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-5">
        <div class="input-group">
          <span class="input-group-text" id="sortingLabel">
            <span class="fa fa-sort" title="Sort"></span>
          </span>
          <select name="sort"
                  class="form-control form-select form-select-sm"
                  id="sorting"
                  aria-describedby="sortingLabel"
                  onchange="doFilter()">
            <option value="Reverse">Reverse</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="form-row d-flex justify-content-end">
      {% include "catalog/catalog-filters.html" %}
    </div>
  </div>
  <div class="col-9">
    {% include "catalog/product-list.html" with products=products %}
  </div>
</div>

{% endblock %}