{% load i18n %}

<div class="col-12">
    <form id="filtersForm"
          action="catalog"
          method="GET">
        <div class="product-attribute-filter product-attribute-range-filter row mt-3">
            <div class="col-12">
                <strong>
                    {% translate 'Price' %}:
                    <span class="fa fa-times fa-xs reset-filter-button" title="{% translate 'Reset filter' %}"
                          onclick="$('input[name=&quot;filterPriceFrom&quot;], input[name=&quot;filterPriceTo&quot;]').val('');doFilter();"></span>
                </strong>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" id="filterPriceFromLabel">
                        {% translate 'Price from' %}:
                    </span>
                    <input type="text"
                           class="form-control form-control-sm"
                           value=""
                           name="filterPriceFrom"
                           id="filterPriceFrom"
                           aria-describedby="filterPriceFromLabel"
                           data-mask="mask"
                           data-mask-reverse="true"
                           onkeyup="doFilter()">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-text" id="filterPriceToLabel">
                        {% translate 'Price to' %}:
                    </span>
                    <input type="text"
                           class="form-control form-control-sm"
                           value=""
                           name="filterPriceTo"
                           id="filterPriceTo"
                           aria-describedby="filterPriceToLabel"
                           data-mask="mask"
                           data-mask-reverse="true"
                           onkeyup="doFilter()">
                </div>
            </div>
        </div>
    </form>
</div>