/*************** Common *************/
main {
    padding-top: 10em;
    padding-bottom: 2em;
}

.h1, h1 {
	font-size: 1.5rem;
}

.h2, h2 {
	font-size: 1.2rem;
}

.h3, h3 {
	font-size: 1.0rem;
}

.h4, h4 {
	font-size: 0.8rem;
}

/*************** Main page *************/
.dropdown-toggle::after {
    display:none;
}

.app-info-primary.jumbotron {
	padding: 2rem;
	margin-bottom: 0.5rem;
}

.app-info-secondary.jumbotron {
	padding: 1rem;
	margin-bottom: 0.5rem;
}

.order-instruction-prev {
	color: #999;
}

.order-instruction-next {
	color: #999;
}

.benefit {
    margin-bottom: 10px;
    margin-top: 10px;
}

.benefit-inner {
    color: #000;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.benefit-title {
	color: #000;
    display: block;
    max-width: 100%;
    padding-left: 0.5em;
    text-align: left;
}

.benefit-image {
    background: transparent;
    border: 1px solid #000;
    font-size: 0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.benefit-image img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.instruction-arrow {
	position: absolute;
    top: 25%;
    left: 90%;
}

.navbar-collapse-mobile {
	overflow: auto;
	height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: fill-available;
}

.navbar .btn {
	margin-right: 0.5rem;
}

#categories-side-menu {
	width: 100%;
}

.btn.btn-side-menu {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}

.content-side-menu {
	padding: .5rem 1rem;
}

.star-rating .fa-star.active {
	color: orange;
}

.star-rating .fa-star.active:active {
	color: yellow;
}

.product-label {
	margin-right: 0.25rem;
  	position: relative;
    z-index: 1;
}

.product-price-label {
	font-size: 100%;
}

@media screen and (max-width: 767px) {
    .btn {
        width: 100%;
        margin-bottom: 1em;
    }
}

/****** Cart *******/
.cart-product-quantity-decrement {
	padding-right: 0;
}

.cart-product-quantity-decrement > button {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.cart-product-quantity {
	padding-right: 0;
	padding-left: 0;
}

.cart-product-quantity > div > input {
	border-radius: 0;
}

.cart-product-quantity-increment {
	padding-left: 0;
}

.cart-product-quantity-increment > button {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.cart-remove-item-btn {
	color: red;
	display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 0px 2px #C88;
    padding: 0.3em 0.4em;
}

.cart-remove-item-btn:hover {
	color: white;
    background-color: red;
}

.cart-remove-item-btn:active {
	color: red;
    background-color: red;
}

.cart-image {
	max-height: 9rem;
	margin-right:0.5rem;
}

.cart-image-small {
	max-height: 5rem;
}

.form-group.required .control-label:after {
   content:"*";
   color:red;
   font-size:1.25rem;
}

.form-check-label {
	width: 100%;
}

/****** Product list ******/
.list-display-type label > input {
	display: none;
  	position: absolute;
}

.list-display-type label {
  	cursor: pointer;
}

.list-display-type .btn {
	padding: 0.15rem 0.5rem;
}

.list-group-item.select-product-option {
	padding: .375rem 0.125rem;
}

.list-group-item.select-product-option input{
	display: none;
  	position: absolute;
}

.product-attribute-filter .product-attribute-list-filter {
	max-height: 7rem;
    overflow-y: auto;
}

.reset-filter-button {
	color: red;
	display: inline-block;
    border-radius: 20px;
    box-shadow: 0px 0px 2px #C88;
    padding: 0.3em 0.4em;
    position: absolute;
    right:0;
    top: -4%;
}

.reset-filter-button:hover {
	color: white;
    background-color: red;
}

.reset-filter-button:active {
	color: red;
    background-color: red;
}

.img-desc-icon {
	width: 2.5rem;
}
ul.desc-list {
	padding-left: 0;
}

.desc-list li {
  	list-style-type: none;
  	white-space: nowrap;
  	overflow: hidden;
}
/****** Image carousel *******/
ol.carousel-thumbnails {
	list-style: none;
	display: flex;
	overflow: hidden;
	padding: 0;
	margin-bottom: 0;
}

.img-carousel-thumbnail {
	width: 100px;
	height: 100px;
	margin: 0 2px;
}
.img-carousel-thumbnail img:hover {
	box-shadow: inset 0px 0px 40px 40px #333;
}

.img-carousel-thumbnail img.img-thumbnail  {
	max-width: 100px;
}

.carousel-control-thumbnails {
	width: 25px;
	height: 100px;
	display: block;
    padding-top: 35px;
    position: absolute;
    background: #e6e6e6;
	opacity: 0.9;
}

.carousel-control-thumbnails:hover {
	background: #999;
}

.carousel-control-thumbnails:active {
	background: #888;
}

.carousel-control-right-thumbnails {
	right: 0;
}