/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	text-align: center;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}