{% extends "common/template.html" %}
{% load i18n %}

{% block title %} {% translate 'Cart title' %} | {% translate 'Cart details' %} | {{ request.app_name }} {% endblock %}

{% block meta_description  %}{% endblock %}

{% block meta_keywords %}{% endblock %}

{% block content %}

<div class="row bg-light rounded p-2">
     <div class="col-12">
        <h1> {% translate 'Cart details' %}</h1>
    </div>
    <div class="col-12">
        <hr/>
    </div>
    <div class="col-12">
        {% include "common/cart/cart-product-list.html" %}
    </div>
</div>

{% endblock %}